/** Author: Abhishek Sharma
* All generic colors used all over the web app are defined here. Format: md-c{color-code}
**/

//primary color for whole web app
.md-pc {
    color: #000000 !important;
  }
  
  .md-c191b26 {
    color: #191b26 !important;
  }
  
  .md-c000000 {
    color: #000000 !important;
  }
  
  .md-c212121 {
    color: #212121 !important;
  }
  
  .md-c222222 {
    color: #222222 !important;
  }
  
  .md-c5a5a5a {
    color: #5a5a5a !important;
  }
  
  .md-c5d5d5d {
    color: #5d5d5d !important;
  }
  
  .md-cffffff {
    color: #ffffff !important;
  }
  
  .md-cff0000 {
    color: #ff0000 !important;
  }
  
  .md-c373D46 {
    color: #373d46 !important;
  }
  
  .md-c0574e4 {
    color: #0574e4 !important;
  }
  
  .md-c797888 {
    color: #797888 !important;
  }
  
  .md-cdaa404 {
    color: #daa404 !important;
  }
  
  .md-ca8a8a8 {
    color: #a8a8a8 !important;
  }
  
  .md-c959595 {
    color: #959595 !important;
  }
  
  .md-c9ea6b9 {
    color: #9ea6b9 !important;
  }
  
  .md-c969696 {
    color: #969696 !important;
  }
  
  .md-bfc4d1 {
    color: #bfc4d1 !important;
  }
  
  .md-c9B9B9B {
    color: #9b9b9b !important;
  }
  
  .md-f4171b {
    color: #f4171b !important;
  }
  
  .md-535e65 {
    color: #535e65 !important;
  }
  
  .md-c818181 {
    color: #818181 !important;
  }
  
  .md-c989898 {
    color: #989898 !important;
  }
  
  .md-c575757 {
    color: #575757 !important;
  }
  
  .md-c4caf50 {
    color: #4caf50 !important;
  }
  
  .md-c646363 {
    color: #646363 !important;
  }
  
  .md-e02020 {
    color: #e02020 !important;
  }
  
  .md-c202431 {
    color: #202431 !important;
  }
  
  .md-c1DA52B {
    color: #1da52b !important;
  }
  
  .md-c838383 {
    color: #838383;
  }
  
  .md-ca4acba {
    color: #A4ACBA !important;
  }
  
  .md-c030303 {
    color: #030303 !important;
  }
  
  .md-c606060 {
    color: #606060 !important;
  }
  
  .md-c4E4E4E {
    color: #4E4E4E !important;
  }
  
  .md-c2A2A2A {
    color: #2A2A2A !important;
  }
  
  .md-c727272 {
    color: #727272 !important;
  }
  
  .md-ca2a2a2 {
    color: #a2a2a2 !important;
  }
  
  .md-c393939 {
    color: #393939 !important;
  }
  
  .md-cb2b2b2 {
    color: #b2b2b2 !important;
  }
  
  //All generic background color defined below. Format: md-bg{color-code}
  .md-bgff0000 {
    background: #ff0000 !important;
  }
  
  .md-bgffffff {
    background: #ffffff !important;
  }
  
  .md-pbg,
  .md-bg000000 {
    background: #000000 !important;
  }
  
  //primary borer color
  .md-pbc {
    border-color: #000000 !important;
  }
  
  .md-c727272 {
    color: #727272 !important;
  }
  
  .md-c5A6877 {
    color: #5A6877 !important;
  }
  
  .md-cB7BCC7 {
    color: #B7BCC7 !important;
  }
  
  .md-c2E3A4D {
    color: #2E3A4D !important;
  }
  
  .md-c7B7B7B {
    color: #7b7b7b !important
  }
  
  .md-cDA251E {
    color: #DA251E !important;
  }
  
  .md-ce95c58 {
    color: #e95c58 !important;
  }
  
  .md-ce6a354 {
    color: #e6a354 !important;
  }
  
  .md-c2B8B14 {
    color: #2B8B14 !important
  }
  
  .md-cE50A0A {
    color: #E50A0A !important
  }
  
  .md-c7E7E7E {
    color: #7E7E7E !important;
  }
  
  .md-cABB0B8 {
    color: #ABB0B8 !important;
  }
  
  .md-cc0c4ca {
    color: #c0c4ca !important;
  }
  
  .md-c515564 {
    color: #515564;
  }
  
  .md-cE1DEFF {
    color: #E1DEFF;
  }
  
  .md-cFFB719 {
    color: #FFB719 !important;
  }
  
  .md-cF15B43 {
    color: #F15B43;
  }
  
  .md-c696F76 {
    color: #696F76;
  }
  
  .md-cA2A2A2 {
    color: #A2A2A2;
  }
  
  .md-c808291 {
    color: #808291;
  }
  
  .md-cA9B2BF {
    color: #A9B2BF;
  }
  
  .md-c888888 {
    color: #888888;
  }
  
  .md-c646464 {
    color: #646464 !important;
  }
  
  .md-c797777 {
    color: #797777 !important;
  }
  
  .md-cb4b4b4 {
    color: #b4b4b4 !important;
  }
  
  .md-c545454 {
    color: #545454 !important;
  }
  
  .md-c484848 {
    color: #545454 !important;
  }
  
  .md-c8E8E8E {
    color: #8E8E8E !important;
  }