/**
* @author: Abhishek Sharma
* In this file we will define all the margin that we gonna use. 
* class name format md-m{margin} for all top, bottom, left and right margins
* for specific margin class name should be md-m{margin-direction}{margin}, for ex: margin bottom will be md-mb5
**/

.md-mr2 {
    margin-right: 2px;
  }
  
  .md-m4 {
    margin: 4px;
  }
  
  .md-mt4 {
    margin-top: 4px;
  }
  
  .md-mb4 {
    margin-bottom: 4px;
  }
  
  .md-ml4 {
    margin-left: 4px;
  }
  
  .md-mr4 {
    margin-right: 4px;
  }
  
  .md-m5 {
    margin: 5px;
  }
  
  .md-mt5 {
    margin-top: 5px;
  }
  
  .md-mb5 {
    margin-bottom: 5px;
  }
  
  .md-ml5 {
    margin-left: 5px;
  }
  
  .md-mr5 {
    margin-right: 5px;
  }
  
  .md-ml4 {
    margin-left: 4px;
  }
  
  .md-m6 {
    margin: 6px;
  }
  
  .md-mt6 {
    margin-top: 6px;
  }
  
  .md-mb6 {
    margin-bottom: 6px;
  }
  
  .md-ml6 {
    margin-left: 6px;
  }
  
  .md-mr6 {
    margin-right: 6px;
  }
  
  .md-m8 {
    margin: 8px;
  }
  
  .md-mt8 {
    margin-top: 8px;
  }
  
  .md-mb8 {
    margin-bottom: 8px;
  }
  
  .md-ml8 {
    margin-left: 8px;
  }
  
  .md-mr8 {
    margin-right: 8px;
  }
  
  .md-ml9 {
    margin-left: 9px;
  }
  
  .md-m10 {
    margin: 10px;
  }
  
  .md-mt10 {
    margin-top: 10px;
  }
  
  .md-mb10 {
    margin-bottom: 10px;
  }
  
  .md-ml10 {
    margin-left: 10px;
  }
  
  .md-mr10 {
    margin-right: 10px;
  }
  
  .md-m12 {
    margin: 12px;
  }
  
  .md-mt12 {
    margin-top: 12px;
  }
  
  .md-mb12 {
    margin-bottom: 12px;
  }
  
  .md-ml12 {
    margin-left: 12px;
  }
  
  .md-mr12 {
    margin-right: 12px;
  }
  
  .md-m15 {
    margin: 15px;
  }
  
  .md-mt15 {
    margin-top: 15px;
  }
  
  .md-mb15 {
    margin-bottom: 15px;
  }
  
  .md-ml15 {
    margin-left: 15px;
  }
  
  .md-mr15 {
    margin-right: 15px;
  }
  
  .md-m16 {
    margin: 16px;
  }
  
  .md-mt16 {
    margin-top: 16px;
  }
  
  .md-mb16 {
    margin-bottom: 16px;
  }
  
  .md-ml16 {
    margin-left: 16px;
  }
  
  .md-mr16 {
    margin-right: 16px;
  }
  
  .md-m20 {
    margin: 20px;
  }
  
  .md-mt20 {
    margin-top: 20px;
  }
  
  .md-mb20 {
    margin-bottom: 20px;
  }
  
  .md-ml20 {
    margin-left: 20px;
  }
  
  .md-mr20 {
    margin-right: 20px;
  }
  
  .md-m24 {
    margin: 24px;
  }
  
  .md-mt24 {
    margin-top: 24px;
  }
  
  .md-mb24 {
    margin-bottom: 24px;
  }
  
  .md-ml24 {
    margin-left: 24px;
  }
  
  .md-mr24 {
    margin-right: 24px;
  }
  
  .md-m28 {
    margin: 28px;
  }
  
  .md-mt28 {
    margin-top: 28px;
  }
  
  .md-mb28 {
    margin-bottom: 28px;
  }
  
  .md-ml28 {
    margin-left: 28px;
  }
  
  .md-mr28 {
    margin-right: 28px;
  }
  
  .md-m25 {
    margin: 25px;
  }
  
  .md-mt25 {
    margin-top: 25px;
  }
  
  .md-mb25 {
    margin-bottom: 25px;
  }
  
  .md-ml25 {
    margin-left: 25px;
  }
  
  .md-mr25 {
    margin-right: 25px;
  }
  
  .md-mb26 {
    margin-bottom: 26px;
  }
  
  .md-m30 {
    margin: 30px;
  }
  
  .md-mt30 {
    margin-top: 30px;
  }
  
  .md-mb30 {
    margin-bottom: 30px;
  }
  
  .md-ml30 {
    margin-left: 30px;
  }
  
  .md-mr30 {
    margin-right: 32px;
  }
  
  .md-m32 {
    margin: 32px;
  }
  
  .md-mt32 {
    margin-top: 32px;
  }
  
  .md-mb32 {
    margin-bottom: 32px;
  }
  
  .md-ml32 {
    margin-left: 32px;
  }
  
  .md-mr32 {
    margin-right: 32px;
  }
  
  .md-mt32 {
    margin-top: 32px;
  }
  
  .md-m35 {
    margin: 35px;
  }
  
  .md-mt35 {
    margin-top: 35px;
  }
  
  .md-mb35 {
    margin-bottom: 35px;
  }
  
  .md-ml35 {
    margin-left: 35px;
  }
  
  .md-mr35 {
    margin-right: 35px;
  }
  
  .md-m36 {
    margin: 36px;
  }
  
  .md-mt36 {
    margin-top: 36px;
  }
  
  .md-mb36 {
    margin-bottom: 36px;
  }
  
  .md-ml36 {
    margin-left: 36px;
  }
  
  .md-mr36 {
    margin-right: 36px;
  }
  
  .md-m40 {
    margin: 40px;
  }
  
  .md-mt40 {
    margin-top: 40px;
  }
  
  .md-mb40 {
    margin-bottom: 40px;
  }
  
  .md-ml40 {
    margin-left: 40px;
  }
  
  .md-mr40 {
    margin-right: 40px;
  }
  
  .md-mb50 {
    margin-bottom: 50px;
  }
  
  .md-mb52 {
    margin-bottom: 52px;
  }
  
  .md-mt45 {
    margin-top: 45px;
  }
  
  .md-mt60 {
    margin-top: 60px;
  }
  
  .md-mt64 {
    margin-top: 64px;
  }
  
  .md-mb65 {
    margin-bottom: 65px;
  }
  
  .md-mt70 {
    margin-top: 70px;
  }
  
  .md-mb70 {
    margin-bottom: 70px;
  }
  
  .md-mb82 {
    margin-bottom: 82px;
  }
  
  .md-mt75 {
    margin-top: 75px;
  }
  
  .md-mb75 {
    margin-bottom: 75px;
  }
  
  .md-mt110 {
    margin-top: 110px;
  }
  
  .md-mt250 {
    margin-top: 250px;
  }
  
  .md-mb110 {
    margin-bottom: 110px;
  }
  
  .md-mt115 {
    margin-top: 115px;
  }
  
  .md-mb150 {
    margin-bottom: 150px;
  }
  
  .md-mb165 {
    margin-bottom: 165px;
  }
  
  .md-mb180 {
    margin-bottom: 180px;
  }
  .md-mb115 {
    margin-bottom: 115px;
  }
  