/**
* @author: Abhishek Sharma
* In this file we will define all the padding that we gonna use. 
* class name format md-p{padding} for all top, bottom, left and right paddings
* for specific padding class name should be md-p{padding-direction}{padding}, for ex: padding bottom will be md-pb5
**/

.md-p2 {
    padding: 2px;
  }
  
  .md-pt2 {
    padding-top: 2px;
  }
  
  .md-pb2 {
    padding-bottom: 2px;
  }
  
  .md-pl2 {
    padding-left: 2px;
  }
  
  .md-pr2 {
    padding-right: 2px;
  }
  
  .md-p3 {
    padding: 3px;
  }
  
  .md-pt3 {
    padding-top: 3px;
  }
  
  .md-pb3 {
    padding-bottom: 3px;
  }
  
  .md-pl3 {
    padding-left: 3px;
  }
  
  .md-pr3 {
    padding-right: 3px;
  }
  
  .md-p4 {
    padding: 4px;
  }
  
  .md-pt4 {
    padding-top: 4px;
  }
  
  .md-pb4 {
    padding-bottom: 4px;
  }
  
  .md-pl4 {
    padding-left: 4px;
  }
  
  .md-pr4 {
    padding-right: 4px;
  }
  
  .md-p5 {
    padding: 5px;
  }
  
  .md-pt5 {
    padding-top: 5px;
  }
  
  .md-pb5 {
    padding-bottom: 5px;
  }
  
  .md-pl5 {
    padding-left: 5px;
  }
  
  .md-pr5 {
    padding-right: 5px;
  }
  
  .md-pb6 {
    padding-bottom: 6px;
  }
  
  .md-pb7 {
    padding-bottom: 7px;
  }
  
  .md-p8 {
    padding: 8px;
  }
  
  .md-p4 {
    padding: 4px;
  }
  
  .md-pt4 {
    padding-top: 4px;
  }
  
  .md-pb4 {
    padding-bottom: 4px;
  }
  
  .md-pl4 {
    padding-left: 4px;
  }
  
  .md-pr4 {
    padding-right: 4px;
  }
  
  .md-p10 {
    padding: 10px;
  }
  
  .md-pt8 {
    padding-top: 8px;
  }
  
  .md-pb8 {
    padding-bottom: 8px;
  }
  
  .md-pl8 {
    padding-left: 8px;
  }
  
  .md-pr8 {
    padding-right: 8px;
  }
  
  .md-p10 {
    padding: 10px;
  }
  
  .md-pt10 {
    padding-top: 10px;
  }
  
  .md-pb10 {
    padding-bottom: 10px;
  }
  
  .md-pl10 {
    padding-left: 10px;
  }
  
  .md-pr10 {
    padding-right: 10px;
  }
  
  .md-pl11 {
    padding-left: 11px;
  }
  
  .md-p12 {
    padding: 12px;
  }
  
  .md-pt12 {
    padding-top: 12px;
  }
  
  .md-pb12 {
    padding-bottom: 12px;
  }
  
  .md-pl12 {
    padding-left: 12px;
  }
  
  .md-pr12 {
    padding-right: 12px;
  }
  
  .md-p14 {
    padding: 14px;
  }
  
  .md-pt14 {
    padding-top: 14px;
  }
  
  .md-pb14 {
    padding-bottom: 14px;
  }
  
  .md-pl14 {
    padding-left: 14px;
  }
  
  .md-pr14 {
    padding-right: 14px;
  }
  
  .md-p15 {
    padding: 15px;
  }
  
  .md-pt15 {
    padding-top: 15px;
  }
  
  .md-pb15 {
    padding-bottom: 15px;
  }
  
  .md-pl15 {
    padding-left: 15px;
  }
  
  .md-pr15 {
    padding-right: 15px;
  }
  
  .md-p16 {
    padding: 16px;
  }
  
  .md-pt16 {
    padding-top: 16px;
  }
  
  .md-pb16 {
    padding-bottom: 16px;
  }
  
  .md-pl16 {
    padding-left: 16px;
  }
  
  .md-pr16 {
    padding-right: 16px;
  }
  
  .md-p20 {
    padding: 20px;
  }
  
  .md-pt20 {
    padding-top: 20px;
  }
  
  .md-pb20 {
    padding-bottom: 20px;
  }
  
  .md-pl20 {
    padding-left: 20px;
  }
  
  .md-pr20 {
    padding-right: 20px;
  }
  
  .md-p20 {
    padding: 20px;
  }
  
  .md-pt20 {
    padding-top: 20px;
  }
  
  .md-pb20 {
    padding-bottom: 20px;
  }
  
  .md-pl20 {
    padding-left: 20px;
  }
  
  .md-pr20 {
    padding-right: 20px;
  }
  
  
  .md-plr24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .md-p24 {
    padding: 24px;
  }
  
  .md-pt24 {
    padding-top: 24px;
  }
  
  .md-pb24 {
    padding-bottom: 24px;
  }
  
  .md-pl24 {
    padding-left: 24px;
  }
  
  .md-pr24 {
    padding-right: 24px;
  }
  
  .md-p25 {
    padding: 25px;
  }
  
  .md-pt25 {
    padding-top: 25px;
  }
  
  .md-pb25 {
    padding-bottom: 25px;
  }
  
  .md-pl25 {
    padding-left: 25px;
  }
  
  .md-pr25 {
    padding-right: 25px;
  }
  
  .md-ptb28 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  
  .md-pt28 {
    padding-top: 28px;
  }
  
  .md-p30 {
    padding: 30px;
  }
  
  .md-pt30 {
    padding-top: 30px;
  }
  
  .md-pb30 {
    padding-bottom: 30px;
  }
  
  .md-pl30 {
    padding-left: 30px;
  }
  
  .md-pr30 {
    padding-right: 30px;
  }
  
  .md-pt32 {
    padding-top: 32px;
  }
  
  .md-pb32 {
    padding-bottom: 32px;
  }
  
  .md-pb40 {
    padding-bottom: 40px;
  }
  
  .md-pt50 {
    padding-top: 50px;
  }
  
  .md-pb50 {
    padding-bottom: 50px;
  }
  
  .md-pt58 {
    padding-top: 58px;
  }
  
  .md-pb76 {
    padding-bottom: 76px;
  }
  
  .md-pb65 {
    padding-bottom: 65px;
  }
  
  .md-pt78-5 {
    padding-top: 78.5px;
  }
  
  .md-pt80 {
    padding-top: 80px;
  }
  
  .md-pb120 {
    padding-bottom: 120px;
  }