/**
* Author: Abhishek Sharma
* The purpose of this file is to add font sizes, line-heights and font-weights.
* format for font-size (md-text{font-size}), line-height (md-lh{line-height}), font-weight(md-f{font-weight})
**/


// ALl fonts are mentioned below
.md-text30 {
    font-size: 30px;
  }
  .md-text26 {
    font-size: 26px;
  }
  .md-text25 {
    font-size: 25px;
  }
  .md-text24 {
    font-size: 24px;
  }
  .md-text20 {
    font-size: 20px;
  }
  .md-text22 {
    font-size: 22px;
  }
  .md-text21 {
    font-size: 21px;
  }
  .md-text19 {
    font-size: 19px;
  }
  .md-text18 {
    font-size: 18px;
  }
  .md-text17 {
    font-size: 17px;
  }
  .md-text16 {
    font-size: 16px;
  }
  .md-text15 {
    font-size: 15px;
  }
  .md-text14 {
    font-size: 14px;
  }
  .md-text13 {
    font-size: 13px;
  }
  .md-text12 {
    font-size: 12px;
  }
  .md-text11 {
    font-size: 11px;
  }
  .md-text10 {
    font-size: 10px;
  }
  
  //All line height defined below
  .md-lh33 {
    line-height: 33px;
  }
  .md-lh30 {
    line-height: 30px;
  }
  .md-lh25 {
    line-height: 25px;
  }
  .md-lh24{
    line-height: 24px;
  }
  .md-lh20 {
    line-height: 20px;
  }
  .md-lh19{
    line-height: 19px;
  }
  .md-lh16 {
    line-height: 16px;
  }
  .md-lh15 {
    line-height: 15px;
  }
  .md-lh13{
    line-height: 13px;
  }
  .md-lh23{
    line-height: 23px;
  }
  .md-lh17{
    line-height: 17px;
  }
  //All font-weights mentioned below
  .md-f300 {
    font-weight: 300;
  }
  .md-f400 {
    font-weight: 400;
  }
  .md-f500 {
    font-weight: 500 !important;
  }
  .md-f600 {
    font-weight: 600;
  }
  .md-f700 {
    font-weight: 700 !important;
  }
  .md-f800 {
    font-weight: 800 !important;
  }